{% extends 'base.html' %}
{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
  {% else %}
    <h1>Add Card</h1>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col s12 m6">
        <div class="card card-transparent z-depth-5">
          <div class="card-content white-text z-depth-5">
            <span class="card-title">Card Details</span>
            <div class="input-field">
              {{ form.name.label_tag }}
              {{ form.name }}
            </div>
            <div class="input-field">
              {{ form.number.label_tag }}
              {{ form.number }}
            </div>
            <div class="input-field">
              {{ form.anime.label_tag }}
              {{ form.anime }}
            </div>
            <div class="input-field">
              {{ form.description.label_tag }}
              {{ form.description }}
            </div>
            <div class="input-field">
              {{ form.year.label_tag}} 
              {{ form.year }}
            </div>
            <div class="input-field">
              <input type="submit" value="Submit" class="btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
