{% extends 'base.html' %}
{% block content %}

<h1 class="teal-text" style="font-size: 24px;">About Card Collector</h1>
<hr>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card card-transparent z-depth-5">
      <div class="card-content white-text teal-text" style="font-size: 16px;">
        <span class="card-title" style="font-size: 20px;">Explore and Manage Your Card Collection</span>
        <p>
          Welcome to the Card Collector app, where you can indulge your passion for collecting cards. With our platform, you have the power to document, organize, and value your card collection like never before. Here's what you can do with Card Collector:
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card card-transparent z-depth-5">
      <div class="card-content white-text teal-text" style="font-size: 16px;">
        <span class="card-title" style="font-size: 20px;">Another Section</span>
        <ul>
          <li>Create Detailed Card Listings: Post information about each card in your collection, including its name, number, anime association, description, and year of release.</li>
          <li>Upload Card Images: Showcase your cards with images, creating a visually appealing catalog of your collection.</li>
          <li>Add Merchandise: Associate related merchandise with your cards to complete your collection's profile.</li>
          <li>Appraise and Value: Track the value of your cards by appraising them, enabling you to understand the worth of your collection over time.</li>
          <li>User Authentication: Securely log in to your personalized account to manage your collection data.</li>
          <li>User Registration: New collectors can easily sign up to access the app's features and safeguard their collection information.</li>
          <li>Intuitive User Interface: The app provides an intuitive and user-friendly interface with Materialize design elements for a smooth experience.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="center-align" style="font-size: 14px;">All Rights Reserved, &copy; 2023 Card Collector</footer>

{% endblock %}
