{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h1 class="col s12">Card Details</h1>
    <div class="col s12 m10 l8">
        <div class="card card-transparent card-container z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">{{ card.name }}</span>
                <p>Number: {{ card.number }}</p>
                <p>Anime: {{ card.anime }}</p>
                <p>Description: {{ card.description|linebreaks }}</p>
                {% if card.number > 0 %}
                    <p>Year: {{ card.year }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
